body {
    background-image: url(/images/RmR_Logo_blk-wht_v4_flattened.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
   /* border: solid;
    background-blend-mode: difference; */
}

html {
  height: 100%;
 /* width: 100%;
  background-color: red; */
}

p {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
}

.text {
  display: flex;
  justify-content: space-between;
  width: auto;
  margin: 200px 50px 35px 0px;
}

ul.nav {
  list-style-type: none;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  border: 1px dashed #000;
  border-bottom: none;
  padding: 5px 15px 5px 15px;
  background-color: #EAEAEA;
  text-decoration: none;
  color: #333;
}
/*#navbar {
    font-size: 50px;
    height: 30px;
    text-align: center;
    justify-content: flex-end; /*
}

#menu {
    width: 100%;
    margin: 0;
    padding: 10px 0 0 0;
    list-style: none;
    background-color: #111;
    background-image: linear-gradient(#444, #111);
    border-radius: 50px;
    box-shadow: 0 2px 1px #9c9c9c;
}

#menu li {
    float: left;
    padding: 0 0 10px 0;
    position: relative;
}

#menu a {
    float: left;
    height: 25px;
    padding: 0 25px;
    color: #999;
    text-transform: uppercase;
    font: bold 12px/25px Arial, Helvetica;
    text-decoration: none;
    text-shadow: 0 1px 0 #000;
}

#menu li:hover > a {
    color: #fafafa;
}

/*html #menu li a:hover { /* IE6 */
    /* color: #fafafa; /*
}

#menu li:hover > ul {
    display: block;
}

/* Sub-menu */
#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 99999;
    background-color: #444;
    background-image: linear-gradient(#444, #111);
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#menu ul li {
    float: none;
    margin: 0;
    padding: 0;
    display: block;
    box-shadow: 0 1px 0 #111111,
                0 2px 0 #777777;
}

#menu ul li:last-child {
    box-shadow: none;
}

#menu ul a {
    padding: 10px;
    height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

*html #menu ul a { /* IE6 */
    height: 10px;
    width: 150px;
}

*:first-child+html #menu ul a { /* IE7 */
    height: 10px;
    width: 150px;
}

#menu ul a:hover {
    background-color: #0186ba;
    background-image: linear-gradient(#04acec, #0186ba);
}

#menu ul li:first-child a {
    border-radius: 5px 5px 0 0;
}

#menu ul li:first-child a:after {
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

#menu ul li:first-child a:hover:after {
    border-bottom-color: #04acec;
}

#menu ul li:last-child a {
    border-radius: 0 0 5px 5px;
}

/* Clear floated elements */
#menu:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html #menu             { zoom: 1; } /* IE6 */
*:first-child+html #menu { zoom: 1; } /* IE7 */

#menu ul li:first-child a:after {
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

#menu ul li:first-child a:hover:after {
    border-bottom-color: #04acec; 
}

/*#menu,
#menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#menu {
    width: 960px;
    margin: 60px auto;
    border: 1px solid #222;
    background-color: #111;
    background-image: linear-gradient(#444, #111);
    border-radius: 6px;
    box-shadow: 0 1px 1px #777;
  }

  #menu:before,
  #menu:after {
    content: "";
    display: table;
  }

  #menu:after {
    clear: both;
  }

  #menu {
    zoom:1;
  }

  float: left;
  border-right: 1px solid #222;
  box-shadow: 1px 0 0 #444;
  position: relative;
}

#menu a {
  float: left;
  padding: 12px 30px;
  color: #999;
  text-transform: uppercase;
  font: bold 12px Arial, Helvetica;
  text-decoration: none;
  text-shadow: 0 1px 0 #000;
}

#menu li:hover > a {
  color: #fafafa;
}

*html #menu li a:hover { /* IE6 only */
 /* color: #fafafa;
}

#menu ul {
    margin: 20px 0 0 0;
    _margin: 0; /*IE6 only
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 38px;
    left: 0;
    z-index: 1;
    background: #444;
    background: linear-gradient(#444, #111);
    box-shadow: 0 -1px 0 rgba(255,255,255,.3);
    border-radius: 3px;
    transition: all .2s ease-in-out;
  }

  #menu li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
  }

  #menu ul ul {
    top: 0;
    left: 150px;
    margin: 0 0 0 20px;
    _margin: 0; /*IE6 only
    box-shadow: -1px 0 0 rgba(255,255,255,.3);
  }

  #menu ul li {
    float: none;
    display: block;
    border: 0;
    _line-height: 0; /*IE6 only
    box-shadow: 0 1px 0 #111, 0 2px 0 #666;
  }

  #menu ul li:last-child {
    box-shadow: none;
  }

  #menu ul a {
    padding: 10px;
    width: 130px;
    _height: 10px; /*IE6 only
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
  }

  #menu ul a:hover {
    background-color: #0186ba;
    background-image: linear-gradient(#04acec, #0186ba);
  }

  #menu ul li:first-child > a {
    border-radius: 3px 3px 0 0;
  }

  #menu ul li:first-child > a:after {
    content: '';
    position: absolute;
    left: 40px;
    top: -6px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #444;
  }

  #menu ul ul li:first-child a:after {
    left: -6px;
    top: 50%;
    margin-top: -6px;
    border-left: 0;
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-right: 6px solid #3b3b3b;
  }

  #menu ul li:first-child a:hover:after {
    border-bottom-color: #04acec;
  }

  #menu ul ul li:first-child a:hover:after {
    border-right-color: #0299d3;
    border-bottom-color: transparent;
  }

  #menu ul li:last-child > a {
    border-radius: 0 0 3px 3px;
  }*/